body {
  background-color: #377791;
}
.sort-icon {
  color: #377791;
}
.sort-bar:hover {
  background-color: #d7e9f0;
  cursor: pointer;
}
.scroll-horizontal {
  overflow-y: auto;
}
.title {
  padding: 10px;
}
.navbar {
  border-radius: 0 !important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
