extends layout

block content
    ion-pane
        ion-header-bar(class="bar-stable")
            h1(class="title")  HearthDB
        ion-content

    script(src="lib/ionic/js/ionic.bundle.js")
    script(src="config.js")