doctype html
html
    head
        title= title
        base(href=baseHref || '/')
        each file in css
            link(rel="stylesheet" href=file)
    body(ng-app="hdb")
        block content

    each file in js
        script(src=file)