doctype html
html
    head
        title= title
        base(href=baseHref)
        each file in css
            link(type="stylesheet" src=file)
    body
        div(ng-app="hdb" ng-cloak)
            block content

    each file in js
        script(src=file)