<div class="row">
    <div class="panel">
        <h2 class="title">Card List
            <small ng-if="query">&nbsp;&nbsp;&nbsp;
                Searching for... {{query}}
            </small>
        </h2>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="pull-left">
            <div class="dropdown pull-left" style="padding-right: 20px;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Show {{limit}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" ng-repeat="option in limitOpts">
                        <a role="menuitem" tabindex="-1" href="#" ng-click="setLimit(option)">{{option}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            <form class="form form-inline" role="search" ng-submit="search(query)">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="query" placeholder="Search by Name">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div role="tabpanel" class="panel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#card-table"
                   aria-controls="card-table"
                   role="tab"
                   data-toggle="tab">
                    <strong>Cards</strong>
                </a>
            </li>
            <li>
                <a href="#card-options"
                   aria-controls="card-options"
                   role="tab"
                   data-toggle="tab">
                    <strong>Options</strong>
                </a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane panel active scroll-horizontal" id="card-table">
            <table class="table table-responsive">
                <thead>
                <tr ng-click="sort($event)" class="noselect">
                    <th class="sort-bar" ng-repeat="(key, value) in cards[0]">
                        {{key.toUpperCase()}}
                        <span ng-if="sort_type === key" ng-class="sort_icon()"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="card in cards">
                    <td ng-repeat="value in card" ng-bind-html="value"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane panel" id="card-options">
            <div class="list-group">
                <a href="#"
                   ng-repeat="(key, value) in fields"
                   ng-click="toggleOption(key)"
                   class="list-group-item" ng-class="isSelected(value)">
                    {{key}}
                </a>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <pagination
            total-items="totalItems"
            items-per-page="limit"
            max-size="maxPages"
            ng-model="currentPage"
            ng-change="pageChanged()">
    </pagination>
</div>

